html, body {
    margin:0;
    
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    height: 100vh;
}

#title {
    color:#0C0C0C;
}